<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/template :: layout (~{::title},~{::link},~{::body})}">
<head>
<meta charset="UTF-8" />
<title>住所一覧</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/member/address.css}" />
</head>

<body>
	<form id="searchForm" class="searchForm" th:action="@{/member/addresses}" th:object="${indexForm}" method="get">
		<div class="form-inline">
			<div class="form-group">
				<label style="width: 100px;">地方ｺｰﾄﾞ</label>
				<div class="input-group" style="width: 80px;">
					<input type="text" class="form-control" autocomplete="off"
						th:field="*{governmentCode}" />
				</div>
			</div>
			<div class="form-group">
				<label style="width: 100px;">旧郵便番号</label>
				<div class="input-group" style="width: 80px;">
					<input type="text" class="form-control" autocomplete="off"
						th:field="*{oldZipCode}" />
				</div>
			</div>
			<div class="form-group">
				<label style="width: 100px;">郵便番号</label>
				<div class="input-group" style="width: 100px;">
					<input type="text" class="form-control" autocomplete="off"
						th:field="*{zipCode}" />
				</div>
			</div>
		</div>
		<div class="form-inline">
			<div class="form-group">
				<label style="width: 100px;">都道府県ｶﾅ</label>
				<div class="input-group" style="width: 260px;">
					<input type="text" class="form-control" autocomplete="off"
						th:field="*{kanaPrefecture}" />
				</div>
			</div>
			<div class="form-group">
				<label style="width: 100px;">市区町村ｶﾅ</label>
				<div class="input-group" style="width: 260px;">
					<input type="text" class="form-control" autocomplete="off"
						th:field="*{kanaCity}" />
				</div>
			</div>
			<div class="form-group">
				<label style="width: 100px;">町域名ｶﾅ</label>
				<div class="input-group" style="width: 260px;">
					<input type="text" class="form-control" autocomplete="off"
						th:field="*{kanaDistrict}" />
				</div>
			</div>
		</div>
		
		<div class="form-inline">
			<div class="form-group">
				<label style="width: 100px;">都道府県</label>
				<div class="input-group" style="width: 260px;">
					<input type="text" class="form-control" autocomplete="off"
						th:field="*{prefecture}" />
				</div>
			</div>
			<div class="form-group">
				<label style="width: 100px;">市区町村</label>
				<div class="input-group" style="width: 260px;">
					<input type="text" class="form-control" autocomplete="off"
						th:field="*{city}" />
				</div>
			</div>
			<div class="form-group">
				<label style="width: 100px;">町域名</label>
				<div class="input-group" style="width: 260px;">
					<input type="text" class="form-control" autocomplete="off"
						th:field="*{district}" />
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-10 text-center">
				<button type="submit" class="btn btn-primary mr-2">検索</button>
				<button type="button" class="btn btn-secondary clear-button">クリア</button>
			</div>
		</div>
		
		<div th:if="${#fields.hasAnyErrors()}" class="alert alert-warning">
			<div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
		</div>
	</form>

	<div th:if="!${#lists.isEmpty(content)}">
		1ページあたり[[${page.size}]]件で表示 全[[${totalCount}]]件
	</div>
	<table class="fixed-table table-bordered table-hover">
		<colgroup>
			<col style="width: 50px;" />
			<col style="width: 50px;" />
			<col style="width: 50px;" />
			<col />
			<col />
			<col style="width: 140px;" />
			<col />
			<col style="width: 140px;" /> <!-- 市区町村 -->
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
		</colgroup>
		<thead>
			<tr class="table-primary">
				<th scope="col">地方ｺｰﾄﾞ</th>
				<th scope="col">旧<br />郵便<br />番号</th>
				<th scope="col">郵便<br />番号</th>
				<th scope="col">都道府県ｶﾅ</th>
				<th scope="col">市区町村ｶﾅ</th>
				<th scope="col">町域ｶﾅ</th>
				<th scope="col">都道府県</th>
				<th scope="col">市区町村</th>
				<th scope="col">町域</th>
				<th scope="col">町域<br />ﾌﾗｸﾞ</th>
				<th scope="col">小字<br />ﾌﾗｸﾞ</th>
				<th scope="col">丁目<br />ﾌﾗｸﾞ</th>
				<th scope="col">更新の<br />表示</th>
				<th scope="col">変更<br />理由</th>
				<th scope="col">編集/削除</th>
			</tr>
		</thead>
		<tbody th:if="!${#lists.isEmpty(content)}">
			<tr th:each="res, stat : ${content}">
				<td>[[${res.governmentCode}]]</td>
				<td>[[${res.oldZipCode}]]</td>
				<td>[[${res.zipCode}]]</td>
				<td>[[${res.kanaPrefecture}]]</td>
				<td>[[${res.kanaCity}]]</td>
				<td>[[${res.kanaDistrict}]]</td>
				<td>[[${res.prefecture}]]</td>
				<td>[[${res.city}]]</td>
				<td>[[${res.district}]]</td>
				<td>[[${res.multipleDistrictFlag == false ? 0 : 1}]]</td>
				<td>[[${res.specialKoazaFlag == false ? 0 : 1}]]</td>
				<td>[[${res.chomeFlag == false ? 0 : 1}]]</td>
				<td>[[${res.updatingCode}]]</td>
				<td>[[${res.modifiedReason}]]</td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<div th:if="!${#lists.isEmpty(content)}">
		1ページあたり[[${page.size}]]件で表示 全[[${totalCount}]]件
	</div>
	<div class="pager align-right" th:if="!${#lists.isEmpty(content)}">
		<!-- ページャー -->
		<div th:replace="/parts/_pager::pager"></div>
		<div class="text-right">[[${page.number}]] / [[${page.totalPages}]]ページ</div>
	</div>
<script>
(function () {
	$(document).ready(function() {
		$('.clear-button').on('click', function () {
			$(this.form)
				.find('input, select, textarea')
				.not(':button, :submit, :reset, :hidden')
				.val('')
				.prop('checked', false)
				.prop('selected', false);
			$(this.form).find(':radio')
				.filter('[data-default]')
				.prop('checked', true);
		});
	});
})();
</script>
</body>
