<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="pager">
	<ul class='pagination pagination-centered'>
		<li th:class="${page.firstPage} ? 'page-item disabled' : 'page-item' " style="display: inline">
			<span class="page-link" th:if='${page.firstPage}'>«</span>
			<a class="page-link" th:if='${not page.firstPage}' th:href='@{${page.url}(page=0,size=${page.size})}'>«</a>
		</li>
		<li th:class="${page.hasPreviousPage} ? 'page-item' : 'page-item disabled' " style="display: inline">
			<span class="page-link" th:if='${not page.hasPreviousPage}'>&lt;</span>
			<a class="page-link" th:if='${page.hasPreviousPage}' th:href='@{${page.url}(page=${page.number-2},size=${page.size})}'>&lt;</a>
		</li>

		<li th:each='item : ${page.items}' th:class="${item.current}? 'page-item active' : 'page-item'" style="display: inline">
			<span class="page-link" th:if='${item.current}' th:text='${item.number}'>1</span>
			<a class="page-link" th:if='${not item.current}' th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'>
				<span th:text='${item.number}'>1</span>
			</a>
		</li>

		<li th:class="${page.hasNextPage} ? 'page-item' : 'page-item disabled' " style="display: inline">
			<span class="page-link" th:if='${not page.hasNextPage}'>&gt;</span>
			<a class="page-link" th:if='${page.hasNextPage}' th:href='@{${page.url}(page=${page.number},size=${page.size})}'>&gt;</a>
		</li>
		<li th:class="${page.lastPage} ? 'page-item disabled' : 'page-item' " style="display: inline">
			<span class="page-link" th:if='${page.lastPage}'>»</span>
			<a class="page-link" th:if='${not page.lastPage}' th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'>»</a>
		</li>
	</ul>
</div>